<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.example.demo.mapper.TodoMapper">

    <select id="selectTodo" resultType="com.example.demo.entity.Todo">
        SELECT 
           todo_id
          ,task 
          ,check_flag 
        FROM todo
        ORDER BY todo_id
    </select>

    <insert id="insertTodo" parameterType="com.example.demo.entity.Todo">
        INSERT INTO todo
         (
           todo_id
          ,task 
          ,check_flag 
          ,last_update
          )
          VALUES (
           nextval('todo_seq')
          ,#{task} 
          ,FALSE
          ,CURRENT_TIMESTAMP
          )
    </insert>

    <update id="updateTodo" parameterType="com.example.demo.entity.Todo">
        UPDATE todo
        SET check_flag = 
          CASE WHEN TRUE THEN check_flag = FALSE
               WHEN FALSE THEN check_flag = TRUE
          END 
        WHERE todo_id = #{todo_id} 
    </update>

    <delete id="deleteTodo" parameterType="com.example.demo.entity.Todo">
        DELETE FROM todo
        WHERE todo_id = #{todo_id} 
    </delete>
</mapper>