<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
  <head th:replace="header::head(~{::title})">
    <title>カテゴリマスタ</title>
  </head>
  <body>
    <header th:replace="header::header"></header>
    <h1 class="my-3 ml-3">カテゴリマスタ</h1>

    <div class="col-5 ml-3">
      <table class="table table-sm">
         
        <thead class="thead-light">
          <tr>
            <th>カテゴリID</th>
            <th>名称</th>
          </tr>
        </thead>
        <tr th:each="category : ${categories}">
          <td th:text="${category.category_id}"></td>
          <td th:text="${category.name}"></td>
        </tr>
      </table>
    </div>

  </body>
</html>
